body {
    line-height: 2.5;
}

.head-color {
    background-color: #D84F57;
}

.nav-link{
    color: white;
    
}
.navbar{
    padding: 0 1rem;
}

.background {
    background-image: url(./img1.png);
    height: 450px;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    background-repeat: round;
    display: flex;
    align-items: center;
    justify-content: center;
}
